.button {
  border: 1px solid #6c9ffb;
  background-color: #6c9ffb;
  width: 100%;
  padding: 15px;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 16px;
}

.button.border {
  background-color: transparent;
  color: #6c9ffb;
}

.button.border:hover {
  background-color: #d3e6ff;
  color: #6c9ffb;
}

.button:hover {
  background-color: #d3e6ff;
  border-color: #6c9ffb;
}
