.list-container {
  margin: 20px 0;
}

.description {
  margin-top: 10px;
}

.list-items {
  padding-left: 20px;
}

.list-items li {
  margin-bottom: 10px;
}

.font25 {
  font-size: 25px;
}

.extraBold {
  font-weight: 800;
}
