.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerWrapper {
  display: flex;
}

@media (max-width: 550px) {
  .innerWrapper {
    flex-direction: row;
  }

  .styleP {
    margin: 20px 0;
    text-align: center;
  }
}

.whiteBg {
  background-color: white;
}

.font13 {
  font-size: 13px;
}

.flexSpaceCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
